html {
    width: 100%;
    height: 100%;
    float: center;
    background-color: rgba(0,0,0,0.8);
}

#container {
    text-align: center;
    color: white;
    font-family: 'Montserret', sans-serif;
}

h1 {
    font-size: 70px;
}

.header {
    height: 20%;
    margin-block-end: 0.2em;
    margin-block-start: 0.5em;
}
.description {
    width: 50%;
    margin-left: 25vw;
    font-size: 20px;
}
